<div class="swiper partners-swiper py-16 border-top border-primary">
  <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-8.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-7.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-6.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-5.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-4.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-3.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-2.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-1.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-8.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-7.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-6.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-5.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-4.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-3.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-2.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
    <li class="swiper-slide">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="outline-none"
        tabindex="-1"
      >
        <img
          src="images/content/partner-1.png"
          width="142"
          height="142"
          class="no-placeholder aspect-square"
          loading="lazy"
          alt=""
        />
      </a>
    </li>
  </ul>
</div>
