.partners-swiper {
  max-width: 1920px;
  .swiper-slide {
    width: max-content;
    padding: 10px;

    img {
      height: 142px;
      object-fit: contain;
    }
  }
}
.infinite-scroll-swiper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
