<article class="article-section py-16">
  <div class="container-md">
    <div class="tag mb-4">5. 2. 2025</div>
    <h1 class="h1 text-primary mb-4">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus luctus
      egestas leo
    </h1>
    <div class="text-lg-bold mb-4">
      Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Sed elit
      dui, pellentesque a, faucibus vel, interdum nec, diam. Vestibulum
      fermentum tortor id mi. Nullam lectus justo, vulputate eget mollis sed,
      tempor sed magna. Vivamus porttitor turpis ac leo. Integer vulputate sem a
      nibh rutrum consequat. Maecenas libero. Nunc dapibus tortor vel mi dapibus
      sollicitudin.
    </div>
  </div>
  <div class="container-lg">
    <div class="article-section__img">
      <img
        srcset="
          https://picsum.photos/1120/630 1508w,
          https://picsum.photos/600/336   600w
        "
        sizes="
        (min-width: 1120px) 1120px,
        calc(100vw - 2.5rem)
      "
        width="1120"
        class="w-full rounded-10 object-fit-cover my-10"
        alt=""
      />
    </div>
  </div>
  <div class="container-md">
    <div class="o-content">
      <p>
        Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos hymenaeos. Nulla est. Fusce tellus
        odio, dapibus id fermentum quis, suscipit id erat. Phasellus enim erat,
        vestibulum vel, aliquam a, posuere eu, velit. In sem justo, commodo ut,
        suscipit at, pharetra vitae, orci. Sed vel lectus.
      </p>
      <p>
        <strong
          >Donec odio tempus molestie, porttitor ut, iaculis quis, sem.</strong
        >
        Quisque tincidunt scelerisque libero. Mauris tincidunt sem sed arcu. In
        laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel
        imperdiet sapien wisi sed libero. Proin in tellus sit amet nibh
        dignissim sagittis. Morbi leo mi, nonummy eget tristique non, rhoncus
        non leo. Integer tempor. Fusce dui leo, imperdiet in, aliquam sit amet,
        feugiat eu, orci. Fusce wisi.
      </p>
      <p>
        Quisque tincidunt scelerisque libero. Curabitur ligula sapien, pulvinar
        a vestibulum quis, facilisis vel sapien. Quisque tincidunt scelerisque
        libero. In laoreet, magna id viverra tincidunt, sem odio bibendum justo,
        vel imperdiet sapien wisi sed libero. Nullam eget nisl. Maecenas ipsum
        velit, consectetuer eu lobortis ut, dictum at dui. In laoreet, magna id
        viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi
        sed libero.
      </p>
      <p>
        Aliquam ante. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
        reiciendis voluptatibus maiores alias consequatur aut perferendis
        doloribus asperiores repellat.
        <strong>Aenean vel massa quis mauris vehicula lacinia.</strong> Fusce
        suscipit libero eget elit. Fusce aliquam vestibulum ipsum. Nullam lectus
        justo, vulputate eget mollis sed, tempor sed magna. Etiam dui sem,
        fermentum vitae, sagittis id, malesuada in, quam.
      </p>
      <p>
        Mauris elementum mauris vitae tortor. Curabitur ligula sapien, pulvinar
        a vestibulum quis, facilisis vel sapien. Pellentesque pretium lectus id
        turpis. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.
      </p>
      <p>
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
        assumenda est, omnis dolor repellendus. Nam sed tellus id magna
        elementum tincidunt. Nullam feugiat, turpis at pulvinar vulputate, erat
        libero tristique tellus, nec bibendum odio risus sit amet ante.
      </p>
      <p>
        Fusce wisi. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Fusce tellus odio, dapibus
        id fermentum quis, suscipit id erat. Donec iaculis gravida nulla.
        Aliquam erat volutpat. Pellentesque pretium lectus id turpis. Etiam
        bibendum elit eget erat. Aliquam erat volutpat. Morbi scelerisque luctus
        velit.
      </p>
    </div>
    <div class="articleGallery mt-10">
      <div class="row g-4">
        <div class="col-md-6">
          <a
            href="#"
            class="d-block"
            data-source="/tj-dukla-atletika/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://picsum.photos/440/346 440w,
                https://picsum.photos/320/240 320w
              "
              width="440"
              height="346"
              loading="lazy"
              class="rounded-6 object-fit-cover w-100"
              alt="album"
            />
          </a>
        </div>
        <div class="col-md-6">
          <div class="row g-4">
            <div class="col-6">
              <a
                href="#"
                class="d-block"
                data-source="/tj-dukla-atletika/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  srcset="
                    https://picsum.photos/220/165 440w,
                    https://picsum.photos/320/240 320w
                  "
                  width="220"
                  height="165"
                  loading="lazy"
                  class="rounded-6 object-fit-cover w-100"
                  alt="album"
                />
              </a>
            </div>
            <div class="col-6">
              <a
                href="#"
                class="d-block"
                data-source="/tj-dukla-atletika/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  srcset="
                    https://picsum.photos/220/165 440w,
                    https://picsum.photos/320/240 320w
                  "
                  width="220"
                  height="165"
                  loading="lazy"
                  class="rounded-6 object-fit-cover w-100"
                  alt="album"
                />
              </a>
            </div>
            <div class="col-6">
              <a
                href="#"
                class="d-block"
                data-source="/tj-dukla-atletika/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  srcset="
                    https://picsum.photos/220/165 440w,
                    https://picsum.photos/320/240 320w
                  "
                  width="220"
                  height="165"
                  loading="lazy"
                  class="rounded-6 object-fit-cover w-100"
                  alt="album"
                />
              </a>
            </div>
            <div class="col-6">
              <a
                href="#"
                class="d-block gradient-primary h-100 rounded-6 overflow-hidden"
                data-source="/tj-dukla-atletika/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  srcset="
                    https://picsum.photos/220/165 440w,
                    https://picsum.photos/320/240 320w
                  "
                  width="220"
                  height="165"
                  loading="lazy"
                  class="object-fit-cover w-100"
                  alt="album"
                />
                <div class="articleGallery__count">
                  <span class="fw-bold">+12</span> fotografií
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
