.o-content {
  .table-responsive {
    margin-bottom: 32px;
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 16px;
  }

  table {
    width: 100%;
  }
}

.table-responsive {
  border-radius: 10px;
  border-bottom: 2px solid var(--color-primary);
  table {
    border-collapse: collapse;
    margin-bottom: 0;
    overflow-x: auto;
    min-width: max-content;
  }
  th {
    padding: 12px 24px;
    text-align: left;
    color: var(--color-tertiary);
    background-color: var(--color-primary);
  }
  td {
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-primary);
  }
}
