.tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-dark);
  display: inline-flex;
  background-color: var(--color-tertiary);
  padding: 4px 16px;
  border-radius: 10px;
}
