<a href="#" class="cardPlayer">
  <div class="cardPlayer__img">
    <img src="images/content/player.png" alt="player" />
  </div>
  <div class="tag">Vytrvalostní běhy</div>
  <div class="card__content">
    <h3 class="h4 text-white mb-2">
      <div>Tomáš</div>
      <div>Vygenerovaný</div>
    </h3>
    <div class="text-base-normal text-white mb-4">* 1995</div>
    <div class="card__link">
      <img
        width="16"
        height="16"
        class="object-fit-contain"
        src="images/ico/align-left.svg"
        alt="icon"
      />
      Zobrazit profil
    </div>
  </div>
</a>
