<a
  data-source="/tj-dukla-atletika/build/ajax-gallery.json"
  data-gallery-id="1"
  href="#"
  class="card"
>
  <div class="card__img">
    <img
      srcset="https://picsum.photos/336/336 336w"
      sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
      width="336"
      alt=""
    />
  </div>

  <div class="card__content">
    <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
    <h3 class="h4 text-white mb-md-4 mb-3">Halové Přebory Prahy 2025</h3>
    <div class="card__link">
      <img
        width="16"
        height="16"
        class="object-fit-contain"
        src="images/ico/eye.svg"
        alt="icon"
      />
      Zobrazit galerii
    </div>
  </div>

  <div class="card__count">
    <img src="images/content/gallery.png" width="32" height="32" alt="" />
    24
  </div>
</a>
