<a href="#" class="card">
  <div class="card__img">
    <img
      srcset="https://picsum.photos/336/336 336w"
      sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
      width="336"
      alt=""
    />
  </div>
  <div class="card__content">
    <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
    <h3 class="h4 text-white mb-md-4 mb-3">
      Czech Indoor GALA 2025, OSTRAVA!!!
    </h3>
    <div class="card__link">
      <img
        width="16"
        height="16"
        class="object-fit-contain"
        src="images/ico/align-left.svg"
        alt="icon"
      />
      Přečíst článek
    </div>
  </div>
</a>
