<div class="historyItem">
  <div class="d-flex gap-6 align-items-center mb-4 flex-wrap">
    <div class="historyItem__avatar">
      <img src="images/content/ava.png" alt="ava" />
    </div>
    <div class="h4">
      <div>Jan</div>
      <div>Železný</div>
    </div>
  </div>
  <p class="text-md-normal">
    3x vítěz OH-1992, l996, 2000, 3x mistr světa-1993, 1995, 2001, 2. místo na
    OH 1988, 3. místo na MS 1987 a 1999, 3. místo na ME 1994, světový rekordman,
    5x překonal světový rekord, nejlepší atlet světa a Evropy 2000
  </p>
</div>
