/*! purgecss start ignore */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-primary);
}
.select2-container {
  max-width: fit-content;
  .select2-selection--single {
    height: auto;
    padding: 0.3rem 2.2rem 0.4rem 0.5rem;
    border-color: var(--color-primary);
    outline: solid transparent 1px;
    transition: all 0.3s;
  }
}
.select2-container--open {
  .select2-selection--single {
    border-color: var(--color-primary);
    outline-color: var(--color-primary);
  }
}
.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--color-primary);
      outline-color: var(--color-primary);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--color-light);
  }
  .select2-container {
    .select2-selection--single {
      background-color: var(--color-primary);
      border-color: #adadad;
      b {
        opacity: 0.2;
      }
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  right: 24px;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  b {
    background-image: url("../images/ico/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 24px;
    height: 24px;
    margin: 0;
    left: 0;
    top: 0;
  }
}
.select2-dropdown {
  top: 2px;
  border: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.1);
}
.select2-results__options {
  font-size: 12px;
  > li {
    padding: 4px 24px;
    font-weight: 500;
    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 16px;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--color-primary) !important;
    color: var(--color-light);
  }
  .select2-results__option--highlighted  {
    background-color: var(--color-primary) !important;
  }
}

.select2-container--default .select2-selection--single {
  height: 3.3875rem;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--color-light);

  padding: 3px 64px 2px 24px;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  color: var(--color-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
/*! purgecss end ignore */
