<footer class="footer gradient-primary">
  <div class="container-base">
    <div
      class="d-flex gap-6 flex-xl-row flex-column flex-wrap justify-content-between align-items-center"
    >
      <div
        class="d-flex flex-lg-row flex-column align-items-lg-start align-items-center gap-lg-14 gap-10"
      >
        <a href="#" class="footer__logo">
          <img loading="lazy" src="images/content/logo.png" alt="logo" />
        </a>
        <div
          class="d-flex flex-md-row flex-column text-md-start text-center flex-wrap gap-md-10"
        >
          <ul class="text-base-normal text-white">
            <li><strong>TJ Dukla Praha oddíl atletiky</strong></li>
            <li>Na Julisce 28/2</li>
            <li>160 00 Praha 6</li>
            <li><strong>IČO:</strong> 00541451</li>
          </ul>
          <ul class="text-base-normal text-white">
            <li>
              <strong>Telefon:</strong>
              <a href="tel:+420973203858">+420 973 203 858</a>
            </li>
            <li>
              <strong>E-mail:</strong>
              <a href="mailto:atletikadukla@seznam.cz">
                atletikadukla@seznam.cz
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="d-flex gap-6 flex-column align-items-xl-end align-items-center"
      >
        <div class="d-flex gap-3">
          <a href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/fb.svg"
              width="40"
              height="40"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/insta.svg"
              width="40"
              height="40"
              alt=""
            />
          </a>
        </div>
        <div class="text-xl-end text-center">
          <div class="text-white text-base-normal">
            Copyright © 2025 TJ Dukla Praha &
            <a target="_blank" href="https://esportsmedia.cz/"
              >eSports.cz, s.r.o.</a
            >
          </div>
          <a
            class="text-md-normal text-tertiary mt-1"
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
          >
            Nastavení cookies
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
