<div class="boardContent">
  <div class="container-base">
    <div class="row g-8">
      <div class="col-xl-4 col-md-6">
        <a href="#" class="card">
          <div class="card__img">
            <img
              srcset="https://picsum.photos/336/336 336w"
              sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
              width="336"
              alt=""
            />
          </div>
          <div class="card__content">
            <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
            <h3 class="h4 text-white mb-md-4 mb-3">
              Czech Indoor GALA 2025, OSTRAVA!!!
            </h3>
            <div class="card__link">
              <img
                width="16"
                height="16"
                class="object-fit-contain"
                src="images/ico/align-left.svg"
                alt="icon"
              />
              Přečíst článek
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 order-xl-0 order-1">
        <a href="#" class="card">
          <div class="card__img">
            <img
              srcset="https://picsum.photos/336/336 336w"
              sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
              width="336"
              alt=""
            />
          </div>
          <div class="card__content">
            <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
            <h3 class="h4 text-white mb-md-4 mb-3">
              Czech Indoor GALA 2025, OSTRAVA!!!
            </h3>
            <div class="card__link">
              <img
                width="16"
                height="16"
                class="object-fit-contain"
                src="images/ico/align-left.svg"
                alt="icon"
              />
              Přečíst článek
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="boardContent__box boardContent__box--categories">
          <div class="boardContent__categories">
            <a
              href="#"
              class="text-white h6 py-4 d-flex flex-column gap-2 align-items-center justify-content-center"
            >
              <img
                src="images/ico/flag.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt="flag"
              />
              Reprezentace
            </a>
            <a
              href="#"
              class="text-white h6 py-4 d-flex flex-column gap-2 align-items-center justify-content-center"
            >
              <img
                src="images/ico/flag.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt="flag"
              />
              Extraligový tým
            </a>
            <a
              href="#"
              class="text-white h6 py-4 d-flex flex-column gap-2 align-items-center justify-content-center"
            >
              <img
                src="images/ico/flag.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt="flag"
              />
              SDJ
            </a>
            <a
              href="#"
              class="text-white h6 py-4 d-flex flex-column gap-2 align-items-center justify-content-center"
            >
              <img
                src="images/ico/flag.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt="flag"
              />
              Mládež
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-12">
        <div class="boardContent-slider swiper gallerySwiper">
          <div class="swiper-wrapper">
            {% for i in 1..8 %}
            <div class="swiper-slide">
              <a
                data-source="/tj-dukla-atletika/build/ajax-gallery.json"
                data-gallery-id="1"
                href="#"
                class="card card-width"
              >
                <div class="card__img">
                  <img
                    srcset="https://picsum.photos/949/458 458w"
                    sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
                    width="949"
                    alt=""
                  />
                </div>

                <div class="card__content">
                  <h3 class="h4 text-white mb-md-4 mb-3">
                    Halové Přebory Prahy 2025
                  </h3>
                  <div class="card__link">
                    <img
                      width="16"
                      height="16"
                      class="object-fit-contain"
                      src="images/ico/eye.svg"
                      alt="icon"
                    />
                    Zobrazit galerii
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="card">
          <div class="card__img">
            <img
              srcset="https://picsum.photos/336/336 336w"
              sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
              width="336"
              alt=""
            />
          </div>
          <div class="card__content">
            <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
            <h3 class="h4 text-white mb-md-4 mb-3">
              Czech Indoor GALA 2025, OSTRAVA!!!
            </h3>
            <div class="card__link">
              <img
                width="16"
                height="16"
                class="object-fit-contain"
                src="images/ico/align-left.svg"
                alt="icon"
              />
              Přečíst článek
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 order-xl-0 order-1">
        <div class="cardProduct">
          <a href="#" class="cardProduct__img">
            <img src="images/content/product.png" alt="product" />
            <div class="h3 text-white">
              Bavlněné tričko Adidas AdidasAdidas CORE18
            </div>
          </a>
          <div
            class="w-100 d-flex gap-4 justify-content-between align-items-center flex-wrap position-relative"
          >
            <div class="text-tertiary h3">500 Kč</div>
            <a href="#" class="button-stroke">
              {% include "@images/cart.svg" %} Koupit
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="card">
          <div class="card__img">
            <img
              srcset="https://picsum.photos/336/336 336w"
              sizes="
        (min-width: 320px) 320px,
        calc(100vw - 2.5rem)
      "
              width="336"
              alt=""
            />
          </div>
          <div class="card__content">
            <div class="tag mb-md-4 mb-3">5. 2. 2025</div>
            <h3 class="h4 text-white mb-md-4 mb-3">
              Czech Indoor GALA 2025, OSTRAVA!!!
            </h3>
            <div class="card__link">
              <img
                width="16"
                height="16"
                class="object-fit-contain"
                src="images/ico/align-left.svg"
                alt="icon"
              />
              Přečíst článek
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12">
        <div class="boardContent__box boardContent__boxNews py-6">
          <ul class="boardContent__list">
            <li class="boardContent__news">
              <div class="boardContent__news-date">
                <span>21.</span>
                <span>únor</span>
              </div>
              <div class="boardContent__news-content">
                <div class="d-grid gap-2">
                  <div class="boardContent__news-categorie">Kategorie</div>
                  <a href="#" class="text-base-normal fw-bold text-white">
                    Czech Indoor Gala 2025
                  </a>
                </div>
                <div class="d-grid gap-2">
                  <div class="boardContent__news-categorie">Kategorie</div>
                  <a href="#" class="text-base-normal fw-bold text-white">
                    Czech Indoor Gala 2025
                  </a>
                </div>
              </div>
            </li>
            <li class="boardContent__news">
              <div class="boardContent__news-date">
                <span>3.</span>
                <span>únor</span>
              </div>
              <div class="boardContent__news-content">
                <div class="d-grid gap-2">
                  <div class="boardContent__news-categorie">Kategorie</div>
                  <a href="#" class="text-base-normal fw-bold text-white">
                    Czech Indoor Gala 2025
                  </a>
                </div>
              </div>
            </li>
            <li class="boardContent__news">
              <div class="boardContent__news-date">
                <span>7.</span>
                <span>leden</span>
              </div>
              <div class="boardContent__news-content">
                <div class="d-grid gap-2">
                  <div class="boardContent__news-categorie">Kategorie</div>
                  <a href="#" class="text-base-normal fw-bold text-white">
                    Czech Indoor Gala 2025 Czech Indoor Gala 2025
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
