:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-primary: #67111a;
  --color-tertiary: #fcc826;

  --bs-border-width: 1px;
  --bs-border-color: var(--color-primary);
  --bs-border-style: solid;
}
