{% extends "@components/base/base.twig" %} {% set title = "02.0_partners" %} {%
block main %}

<section class="py-md-16 py-10">
  <div class="container-md">
    <h1 class="text-primary h1 mb-md-10 mb-6">Partneři</h1>
    <div class="row g-8">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-7.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-8.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-1.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-2.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-3.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-4.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-5.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-6.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-7.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="partnerItem">
          <img
            src="images/content/partner-8.png"
            width="192"
            height="192"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
