{% extends "@components/base/base.twig" %} {% set title = "04.0_history" %} {%
block main %}

<section class="py-md-16 py-10">
  <div class="container-md">
    <h1 class="text-primary h1 mb-md-10 mb-6">Historie</h1>
    <p class="text-base-normal mb-10">
      Historie našeho klubu je úzce spjata se vznikem a vývojem armádního
      sportu. Za klíčový okamžik vzniku atletického oddílu VTJ (TJ) Dukla Praha
      je možné považovat rok 1956, kdy s reformami armádního vrcholového sportu
      vznikly Vojenské tělovýchovné jednoty (VTJ). Tak vznikl i náš atletický
      klub. Došlo k propojení armádního vrcholového sportu s činností
      atletického klubu VTJ Dukla Praha, který sdružoval i mládežnické složky.
      Činnost VTJ Dukla Praha, nyní TJ Dukla Praha šla ruku v ruce s činností a
      vývojem armádního sportu (tréninkové prostory apod.). Podstatné je to, že
      klub VTJ (TJ) Dukla Praha a armádní vrcholový sport (ve všech etapách
      svého vývoje) byli a jsou vždy samostatně hospodařícími subjekty se
      samostatnými a oddělenými řídícími orgány.
    </p>
    <h2 class="h1 text-primary mb-md-10 mb-6">Osobnosti</h2>
    <div class="row g-6">
      {% for i in 1..8 %}

      <div class="col-xl-4 col-md-6">
        {% include "@components/historyItem/historyItem.twig" %}
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
