<section
  class="hero-section"
  style="background-image: url('images/content/hero.png')"
>
  <div class="container-base h-100">
    <div class="position-relative h-100">
      <div class="hero-section__inner">
        <div class="d-grif gap-3 text-white">
          <h1 class="h1">TJ Dukla Praha</h1>
          <p class="text-xxl-normal">Nejúspěšnější atletický oddíl v Česku</p>
        </div>
        <a href="#" class="hero-section__btn">
          Chci se stát součástí Dukly {% include "@images/user-hero.svg" %}
        </a>
      </div>
    </div>
  </div>
</section>
